{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Меня зовут Мария. 
  Это мой первый проект, первый опыт разработки и вообще, первый опыт, связанный с ИТ!
</p>
<p>
  Решила пройти курс бэкенд-разработчика во время декрета.
  Очень интересный опыт - переключаться с развивающих игр для детей 2-х лет на курс Python-разработчика!
  Мне кажется, хоть и не очень легко, но у меня получается!
  Моя двухлетняя дочь меня вдохновляет и помогает мне иногда править код.
</p>
<div class="row">
  <div class="col-6"; style="font-size: 20px; font-family: sans-serif;">
      <p>Вот как я думала пройдет мой курс Python-разработчика:</p>
      <img src="{% static 'img/me-and-baby.jpg' %}">
  </div>
  <div class="col-6"; style="font-size: 20px; font-family: sans-serif;">
      <p>А вот как это происходит на самом деле:</p>
      <img src="{% static 'img/reality.png' %}">
  </div>
</div>
<div>
<p>
</p>
<p>
  <a href="https://github.com/mtedoradze"> Вот ссылка на мой аккаут на github </a>
</p>
</div>
{% endblock %} 