{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Меня зовут Мария. 
  Это мой первый проект, первый опыт разработки и вообще, первый опыт, связанный с ИТ!))
</p>
<p>
  Решила пройти курс разработчика во время декрета.
  Очень интересный опыт - переключаться с развивающих игр для детей 2-х лет на курс Python-разработчика!)))
  Мне кажется, хоть и не очень легко, но у меня получается!
  Моя двухлетняя дочь меня вдохновляет и помогает мне иногда править код :)))
</p>
<p>
  <a href="https://github.com/mtedoradze"> Вот ссылка на мой аккаут на github </a>
</p>
<p>
  <img src="{% static 'img/me-and-baby.jpg' %}">
</p>
{% endblock %} 