{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>
      Мое знакомство с Django началось с создания этого сайта.
      Конечно, было нелегко! Например, для того, чтобы установить версию Python 3.7 на мой Mac мне потребовалось 3 дня! Это были большие мучения, и когда они закончились, радости не было предела!)))
      Теперь, когда сайт боле-менее готов, я могу с уверенностью сказать, что это было очень интересно!
    </p>
    <p>
      Вот какие инструменты были ипользованы для создания этого сайта:
    </p>  
    <li>
      С помощью Django ORM выполняется работа с базой данных, в которой хранятся посты пользователей, информация о самих пользователях и другая техническая информация.
    </li>
    <li>
      Для оформления страниц в шаблонах использован фреймворк Twitter Bootstrap
    </li>
    <li>
      Для управления доступом пользователей применен декоратор Django @login_required
    </li>
    <li>
      Также применены дополнительные утилиты, такие как контекст-процессоры (для определения в шаблоне авторизован пользователь или нет, для добавления универсальных переменных в шаблоны) и паджинатор
    </li>
    <li>
      Для добавления картинок к постам использовано приложение sorl-thumbnail
    </li>
    <li>
      и много других полезных библиотек и приложений
    </li>
  </article>
</div>
{% endblock %} 